<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.eldorado.pagemarker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="br.org.eldorado.pagemarker.PageMarkerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/new_user"
            android:name=".activity.NewUserActivity"
            android:parentActivityName="@string/app_name">
        </activity>
        <provider
            android:name=".persistence.provider.MarkerContentProvider"
            android:authorities="br.org.eldorado.pagemarker.persistence.provider.markercontentprovider">
            <path-permission
                android:path=".user"
                android:readPermission="br.org.eldorado.pagemarker.provider.permission.READ_USER"
                android:writePermission="br.org.eldorado.pagemarker.provider.permission.WRITE_USER"/>
            <path-permission
                android:path=".book"
                android:readPermission="br.org.eldorado.pagemarker.provider.permission.READ_BOOK"
                android:writePermission="br.org.eldorado.pagemarker.provider.permission.WRITE_BOOK"/>
            <path-permission
                android:path=".marker"
                android:readPermission="br.org.eldorado.pagemarker.provider.permission.READ_MARKER"
                android:writePermission="br.org.eldorado.pagemarker.provider.permission.WRITE_MARKER"/>
        </provider>
    </application>

</manifest>